<link rel="stylesheet" href="/css/styles.css">

<div>
    <form action="/" method="get">
        <button>Home</button>
    </form>
    <form action="/songs" method="get">
        <button>Listar músicas</button>
    </form>
    <form action="/new-song" method="get">
        <button>Adicionar músicas</button>
    </form>
    <form action="/price" method="get">
        <button>Gerir preço por like</button>
    </form>
</div>