<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>PSIFY</title>
</head>
<body>
    <%- include ("partials/header") %>

    <h1>Bem-Vindo à página inicial</h1>

    <p>Esta é a página inicial da aplicação PSIFY.</p>
    <p>Utilize o menu anima para navegar pelas diferente funcionalidades da aplicação</p>
    <p>Obter música</p>
    <p>ID da música: <form action="app.js"> <input type="text"> <button type="submit">OBTER</button> </form> </p>

</body>
</html>