<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSIFY</title>
</head>
<body>
    <%- include ("partials/header") %>

    <h1>Criar nova música</h1>

    <form action="">
        <p>Título: <input type="text"> </p>
        <p>Artista: <input type="text"> </p>
        <p>Género: <input type="text"> </p>
        <p>Album: <input type="text"> </p>
        <p>Duração(segundos): <input type="text"> </p>
        <p>Data de lançamento: <input type="date"> </p>
        <p>Nº de likes: <input type="text"> </p>
        <button type="submit">Criar</button>
    </form>
</body>
</html>