<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PSIFY</title>
</head>
<body>
    <%- include ("partials/header") %>

    <h1>Editar preço por like:</h1>
    <p>Preço por like: <form action=""> <input type="text"> <button type="submit"> Atualizar </button> </form></p>
</body>
</html>