<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>PSIFY</title>
</head>
<body>
    <%- include ("partials/header") %> <br>

    <table border="2">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Durations(sec)</th>
            <th>Likes</th>
            <th>Release Date</th>
        </tr>
        <% for (let i = 0; i < songs.length; i++) {%>
        <% }  %>
    </table>
</body>
</html>